{% extends 'base.html.twig' %}

{% block title %}Inscription
{% endblock %}

{% block body %}
	<div class="container">
		<h1 class="text-center my-5">Inscription</h1>

		{{ form_start(registrationForm, {'attr': {'class': 'w-50 m-auto mb-5'}}) }}
		<div class="mb-3">
			{{ form_label(registrationForm.email, 'Email') }}
			{{ form_widget(registrationForm.email, {'attr': {'class': 'form-control'}}) }}
			<span class="text-danger">{{ form_errors(registrationForm.email) }}</span>
		</div>
		<div class="mb-3">
			{{ form_label(registrationForm.username, 'Nom d\'utilisateur') }}
                {{ form_widget(registrationForm.username, {'attr': {'class': 'form-control'}}) }}
                <span class="text-danger">{{ form_errors(registrationForm.username) }}</span>
            </div>
            <div class="mb-3">
                {{ form_label(registrationForm.plainPassword, 'Mot de passe') }}
                {{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'form-control'}}) }}
                <span class="text-danger">{{ form_errors(registrationForm.plainPassword) }}</span>
            </div>
            <div class="mb-3">     
                {{ form_label(registrationForm.agreeTerms) }}
                {{ form_widget(registrationForm.agreeTerms, {'attr': {'class': 'form-check-input'}}) }}
                <span class="text-danger">{{ form_errors(registrationForm.agreeTerms) }}</span>
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-primary">S'incrire</button>
            </div>
        {{ form_end(registrationForm) }}

			<div class="w-50 m-auto">
				<p>Déjà inscris ?</p>
				<a class="text-decoration-none" href="{{ path('app_login') }}">Connexion =></a>
			</div>
		</div>
	{% endblock %}
