{% extends 'base.html.twig' %}

{% block title %}Accueil | {{ parent() }}{% endblock %}

{% block body %}

<div>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Partagez vos plus belles photo de fleurs</h1>
            <p class="lead">Invitons des amis à eller les voir, ou buvons et dansons en bonne compagnie sous les fleurs</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="/post/add" role="button">Partager une photo</a>
            </p>
        </div>
    </div>
    <div class="container">
        <div class="row my-5">
		    <div class="col s12 m12 l12">
                {% if posts %}
			    <h2 class="text-center">Dernières publications sur flowerLovers</h2>
                {% else %}
                <h2 class="text-center">Il y a aucune publication</h2>
                {% endif %}
		    </div>
	    </div>

        <div class="">
            <div class="card-deck">
                {% for post in posts %}
                    <div class="card">
                        <img class="card-img-top mw-50" src="{{ asset('uploads/' ~ post.picture) }}" alt="{{ post.picture }}">
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="{{ path('post_show', {'id' : post.id}) }}">{{ post.title }}</a>
                            </h5>
                            <p class="card-text"><small class="text-muted">{{ post.lastUpdateDate|date('d/m/Y') }}</small></p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
