{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block title %}{{ post.title }}{% endblock %}

{% block body %}
    <div class="container">
		<div class="row my-5">
			<div class="col ">
				<h1 class="text-center">{{ post.title }}</h1>
			</div>
		</div>

        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">{{ app.user.username }}</div>
                    <img class="card-img-top" src="{{ asset('uploads/' ~ post.picture) }}" alt="{{ post.picture }}">
                    <div class="card-body">
                        <p class="card-text">{{ post.content }}</p>
                        <p>{% for category in post.categories %}
                           {{ category.label }}{{ loop.last ? '' : ',' }}
                           {% endfor %}
                        </p>
                        <div>
                            <a href="{{ path('post_edit', {'id' : post.id}) }}" class="btn btn-success">Modifier</a>
                            <a href="{{ path('post_delete', {'id' : post.id}) }}" class="btn btn-danger">Supprimer</a>
                        </div>    
                    </div>
                    <div class="card-footer text-muted">{{ post.lastUpdateDate|date('d/m/Y') }}</div>
                </div>
            </div>
        </div>
	</div>
{% endblock %}